*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.section{
    width: auto;
    height: auto;
}
.formz{
    height: 200px;
    width: 250px;
    margin: auto;
    margin-top: 350px;
    border: 1px solid black;
}
.formz img{
    float: right;
}
.form{
    margin-top: 34px;
    margin-left: 50px;
}
.form>input{
    margin-top: 5px;
    border: 1px solid black;
}
.register{
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid black;
}
.register p {
    padding: 0 55px 0 55px;
}
.formz>a{
    margin-top: 100px;
}
.formz a p{
    margin-top: 15px;
    margin-left: 160px;
    font-size: 10pt;
}
