body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 50px;
    min-width: 780px;
}
.logo{
    float: left;
    margin: 5px;
}
.logo p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.search{
    float: right;
    margin: 25px 100px 20px 0px;
    min-height: 30px;
}
input[type="search"]{
    border: 1px solid black;
}
.section{
    min-width: 780px;
    height: 600px;
    border: 1px solid black;
    display: inline-block;
}
.sale{
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}
.product{
    height: 100px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 100px;
}
.link-wrap{
    box-sizing: border-box;
}
.caption{
    margin-left: 20px;
}
.footer{
    height: 50px;
    min-width: 780px;
}
.footer p{
    text-align: center;
    font-size: 12pt;
}
