body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 50px;
    min-width: 780px;
}
.logo{
    float: left;
    margin: 5px;
}
.logo p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.search{
    float: right;
    margin: 25px 100px 20px 0px;
    min-height: 30px;
}
input[type="search"]{
    border: 1px solid black;
}   
.section{
    min-width: 780px;
    height: 700px;
    border: 1px solid black;
    margin-top: 30px;
}
.nav{
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 700px;
}
.nav p{
    margin-left: 40px;
    margin-top: 50px;
}
.sale{
    margin-top: 30px;
}
.sale>a{
    float: right;
    margin-top: -20px;
    margin-right: 15px;
}
.product{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 45%;
}
.product>a{
    float: left;
    height: 200px;
}
.proguct-text{
    font-size: 15px;
    float: left;
}
.product-text h4{
    margin-top: 10px;
}
.product-text h5{
    color: red;
    margin: 0;
}
#cash{
    margin-left: 20px;
    font-size: 20px;
    border: 2px solid yellow;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 10px;
             border-radius: 10px; 
}
.footer{
    height: 50px;
    min-width: 780px;
}
.footer p{
    text-align: center;
    font-size: 12pt;
}
