<<<<<<< HEAD
body{
=======
*{
>>>>>>> da79a5a5296180570eaee37401bdeed6fdc429d3
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: block;
    height: 50px;
    min-width: 780px;
    color: black;
}
.logo{
    float: left;
<<<<<<< HEAD
    margin: 12px 0 12px 10px;
=======
    margin: 10px;
>>>>>>> da79a5a5296180570eaee37401bdeed6fdc429d3
}
.logo p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.search{
    float: right;
    margin: 15px 100px 15px 0px;
    min-height: 20px;
}
input[type="search"]{
    border: 1px solid black;
}
input[type="submit"]{
    width: 10px;
    height: 10px;
    border: none;
    background: url(../image/gtk-search.png) no repeat;
}
.section{
    min-width: 780px;
    height: 600px;
    border: 1px solid black;
    display: block;
}
.sale{
    float: left;
    margin-top: 100px;
<<<<<<< HEAD
    margin-left: 100px;
=======
    margin-left: 200px;
>>>>>>> da79a5a5296180570eaee37401bdeed6fdc429d3
}
.product{
    height: 100px;
    display: inline-block;
    padding-top: 10px;
<<<<<<< HEAD
    padding-left: 100px;
=======
    padding-left: 200px;
>>>>>>> da79a5a5296180570eaee37401bdeed6fdc429d3
}
.link-wrap{
    box-sizing: border-box;
}
.caption{
    margin-left: 20px;
}
.footer{
    height: 50px;
    min-width: 780px;
}
.footer p{
    text-align: center;
    font-size: 12pt;
}
